<!-- <form action="/restaurants" method="post">
  <label for="name">Name</label>
  <input type="text" name="restaurant[name]">
  <label for="">Rating</label>
  <input type="number" name="restaurant[rating]">
  <label for="">Address</label>
  <input type="text" name="restaurant[address]">
  <input type="submit">
</form> -->
<!--
params = {
  restaurant: {
  name: 'McDonalds',
  rating: 4,
  address: 'Berlin'
}
}

Restaurant.new(name: params[:restaurant], rating: params[:restaurant]) -->

<%= render 'form' %>
